img{
    border-radius: 10%;
    height: 250px;
    width: 250px;

}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    display: inline-block;
    border-radius: 15px;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 400px;
    color: black;
}

.card-image {
    border-radius: 10px 10px 0 0;
    height: 300px;
    width: 400px;
}