
/* App.css */
.App {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #102756;
    color: rgb(255, 205, 162);
    gap: 20px;
    flex-direction: column;
    font-family: 'Space Theme', sans-serif;
  }
  
  .App-header {
    text-align: center;
  }
  
  .app-title {
    font-size: 4rem;

    margin-bottom: 20px;
  }

  #vote:hover,
  #create:hover,
  #join:hover {
    background-color: #4fa3d1; /* Change color to your preference */
  }
  .buttons{
    background-color: rgb(208, 222, 234);
    height: 160px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0, 0, 10, 10;
    padding: 10px;
  }
  .session{
    background-color: rgb(120, 120, 157);
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-weight: bold;
  }
  .go{
    background-color: rgb(146, 146, 191);
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-weight: bold;
  }
  .toggled{
    background-color: rgb(114, 147, 109);
  }
  #join{
    color: rgb(177, 193, 213);
  }
  .form{
    color: black;
  }
  .former{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  button{
    cursor: pointer;
  }
  .right{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  /* Add more styles as needed */
  